.container {
    margin-top: 16px;
    display: flex;
}

.sent {
    justify-content: flex-end;
}

.text {
    background-color: rgb(200, 200, 200);
    height: 100%;
    padding: 8px;
    max-width: 70%;
}

.textSent {
    background-color: rgb(180, 200, 200);
}

