.container {
    display: flex;
    flex-direction: row;
    background-color: rgb(200, 200, 200);
    min-height: 100vh;
}

.sidebar {
 width: 80px;
 background: white;
 margin-right: 1px;
 padding: 8px;
 display: flex;
 flex-direction: column;
}

.logoText {
    text-align: center;
    color: rgb(100, 190, 185);
    font-size: 2rem;
}

.logo {
    width:70px;
    height: 100px;
}

.mainNav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.account {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 16px;
}

.contactSection {
    width: 460px;
    background-color: white;
    margin-right: 1px;
    padding: 8px;
}

.messageSection {
    background-color: white;
    flex-grow: 1;
    padding: 8px;
}